Source: criu
Section: admin
Priority: optional
Maintainer: Daniel Baumann <mail@daniel-baumann.ch>
Build-Depends:
 debhelper (>= 9),
 asciidoc,
 libprotobuf-c0-dev,
 protobuf-c-compiler,
 xmlto,
Standards-Version: 3.9.5
Homepage: http://www.criu.org/
Vcs-Browser: http://daniel-baumann.ch/gitweb/?p=debian/packages/criu.git
Vcs-Git: git://daniel-baumann.ch/git/debian/packages/criu.git

Package: criu
Architecture: armhf amd64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Recommends: iproute
Description: checkpoint and restore in userspace
 criu contains the utilities to checkpoint and restore processes in
 userspace.

Package: criu-dbg
Section: debug
Priority: extra
Architecture: armhf amd64
Depends:
 ${misc:Depends},
 criu (= ${binary:Version}),
Description: checkpoint and restore in userspace (debug)
 criu contains the utilities to checkpoint and restore processes in
 userspace.
 .
 This package contains the debugging symbols.
